@import 'index';

.nav-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: $white;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navContainer {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 5;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-ul2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 400px) {
      align-items: start;
    }
}

.nav-color {
    background-color: $white;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 15px 1px $colorDarkMono;
}

.nav-button {
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    top: $defaultPadding;
    right: $defaultPadding;
    width: 50px;
    height: 50px;
    z-index: 3;
}

.nav-item {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.nav-link {
    text-decoration: none;
    color: $colorDarkMono;
    font-size: 24px;
    &:hover {
        color: $colorDarkMid;
        text-decoration: none;
    }
}

.logo-text {
    top: $defaultPadding;
    left: $defaultPadding;
    position: absolute;
}